/*
author : ngbamedistingue@yahoo.com
*/

/* ------------------------------------------------------  */
/* Codes couleur de la page */
@White          : #fff;
@LightBlack     : #646464; // rgb(100, 100, 100)
@Black          : black;
@LightYellow    : #FFE873; // rgb(255, 232, 115)
@Yellow         : #FFD43B; // rgb(255, 212, 59)
@DarkYellow     : #EDB000; // rgb(237, 176, 0)
@LightBlue      : #8ED5FA; // rgb(142, 213, 250)
@Blue           : #1C78C0; // rgb(28, 120, 192)
@DarkBlue       : #170C6A; // rgbR(23, 12, 106)
@Red            : #D30044; // rgb(211, 0, 68)
@Green          : #0FB255; // rgb(15, 178, 85)

/* ------------------------------------------------------  */
/* Font de la page */

// général
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@400&display=swap');
// Design
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

@FontPage   : 'IBM Plex Sans Thai Looped', sans-serif;
@FontDesign : 'Comforter', cursive;

* {
    outline: none;
    box-sizing: border-box;
}
body, html {
    font-family: @FontPage;
}
a{
    text-decoration: none;
    transition: color 0.3s ease;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    th, td{
        padding: 10px 20px;
        border: 2px solid @LightBlue;
    }
}
ul {
    list-style-type: none;
}

/* ------------------------------------------------------  */
/* Toute la page */
body{
    margin: auto;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: @LightBlack;
    color: @White;
    font-weight: medium;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-nav{
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: @Black;
    .header-logo{
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        padding: 1em;
        .nav-link{
            color: @DarkYellow;
            font-weight: bold;
            font-family: @FontDesign;
            cursor: progress;
        }
        .nav-link:hover{
            color: @Yellow;
        }
    }
    .header-link{
        // height: 90%;
        display: flex;
        flex-direction: row;
        padding-right: 2em;
        .nav-link{
            color: @DarkYellow;
            font-weight: bold;
            border-bottom: 3px solid @Black;
            padding: 0 10px;
            display: flex;
            align-items: center;
            // height: 100%;
        }
        .nav-link:hover{
            border-bottom: 3px solid @Yellow;
            padding: 0 10px;
            display: flex;
            align-items: center;
            // height: 100%;
            color: @Yellow;
        }
    }
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../data/img/bg-hd.jpg") center center no-repeat;
    height: 30vh;
    color: #fff;
    min-height: 400px;
    background-size: cover;
    background-attachment: fixed;
    .menu-content{
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        .inputSearch{
            font-size: 1.1em;
            padding: 0.5em;
            width: 380px;
            border: none;
            border-radius: 10px 0 0 10px;
            background: none;
            border: 1px solid @Yellow;
            color: @White;
        }
        .buttonSearch{
            font-size: 1.2em;
            padding: 0.5em;
            width: 50px;
            border: none;
            border-radius:  0 10px 10px 0;
            background: @DarkYellow;
            color: @Blue;
        }
        .buttonSearch:hover{
            background: @Blue;
            color: @DarkYellow;
        }
    }
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @DarkYellow;
}
#map{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../data/img/tab_bg2.jpg") center center no-repeat;
    .map-tab{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
    #map-card{
        display: flex;
        padding: 1em;
        width: 100%;
        height: 500px;
        background: @Black;
    }
}
.map-contain{
    height: 950px;
}

#about{
    flex-direction: row;
    font-size: 1.3em;
    background-color: @Black;
    padding-bottom: 200px;
    .service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul{
            li{
                margin: .3em;
                i{
                    padding: 8px;
                    border: 2px solid @DarkYellow;
                    border-radius: 50%;
                }
                .premier{
                    background-color: @Red;
                }
                .deuxieme{
                    background-color: @Green;
                }
                .troisieme{
                    background-color: @Blue;
                }
                .quatrieme{
                    background-color: @DarkBlue;
                }
                span{
                    padding-left: 20px;
                }
            }
        }
    }
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: @Black;
    a{
        padding: 1em;
        color: @DarkYellow;
        font-size: larger;
    }
    a:hover{
        color: @Yellow;
    }
}

// Page liste des villes ayant un contrat

.main{
    font-family: @FontPage;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: @Black;
    h2{
        color: @DarkYellow;
    }
    #body{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        table{
            width: 400px;
        }
    }
}